<div>
  <div>
    <div>
      <!--ユーザー情報-->
      <%= render 'info', user: @user %>

      <!--本の投稿機能-->
      <%= render 'books/new', book: @book %>

      <!--ユーザーが投稿した本の一覧機能-->
      <%= render 'books/index', books: @books %>

  </div>
</div>